<div class="main-container" [class.example-is-mobile]="isMobilePhone.matches">

  <mat-toolbar color="primary" class="example-toolbar">
    <span>{{pageTitle}}</span>
    <button mat-icon-button color="warn" (click)="sideNav.toggle()">
      <mat-icon aria-label="Example icon-button with a menu icon">menu</mat-icon>
    </button>
    <h1 class="input-box">{{title}}</h1>
  </mat-toolbar>

  <mat-sidenav-container class="sidenav-container"
                         [style.marginTop.px]="isMobilePhone.matches ? 56 : 0">

    <mat-sidenav opened #sideNav [mode]="isMobilePhone.matches ? 'over' : 'side'"
                 [fixedInViewport]="isMobilePhone.matches" fixedTopGap="56">
      <h1>Menu</h1>
      <mat-nav-list>
        <a mat-list-item routerLink="{{nav}}" *ngFor="let nav of fillerNav">{{nav}}</a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>

  </mat-sidenav-container>

</div>

