<div style="text-align:center">
  <h1>
    <!--lets try to fetch the title from a son-->
    Welcome to {{ title }}!
  </h1>
</div>
<form class="example-form" (ngSubmit)="onSubmit()">
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Favorite food" value="Sushi">
  </mat-form-field>

  <br>
  <mat-form-field class="example-full-width">
    <textarea matInput placeholder="Leave a comment"></textarea>
  </mat-form-field>

  <br>
  <button type="submit" mat-icon-button color="warn">Submit</button>
</form>
<app-journey></app-journey>
