<form (ngSubmit)="onSubmit()">
  <mat-form-field class="input-box">
    <textarea matInput [formControl]="id" placeholder="id"></textarea>
  </mat-form-field>

  <mat-form-field class="input-box">
    <textarea matInput [formControl]="destination" placeholder="destination"></textarea>
  </mat-form-field>

  <br>

  <button type="submit" mat-flat-button class="input-box" color="primary">Submit</button>
</form>

<ul>
  <li *ngFor="let journey of journeysFound">
    <app-journey [journey]="journey"></app-journey>
  </li>
</ul>
